.App {
    align-items: center;
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #ffffff;
}

.button {
    margin-top: 20px;
    color: #ffffff
}

.list {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

input {
    margin-right: 10px;
}

